[package]
name = "yeter-macros"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0"

[lib]
proc-macro = true
path = "lib.rs"

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
